rsbackup.1
rsbackup.cron.1
debian/files
debian/debhelper.log
debian/rsbackup
debian/substvars
rsbackup.1.html
rsbackup.cron.1.html
rsbackup-mount.1.html
*.tar.gz
*.deb
rsbackup-mount.1
*~
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.log
config.status
configure
*.o
.deps
stamp-h1
src/rsbackup
