debian/files
debian/debhelper.log
debian/rsbackup
debian/substvars
*.tar.gz
*.deb
*~
Makefile.in
Makefile
INSTALL
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.log
config.status
configure
*.o
.deps
stamp-h1
src/rsbackup
src/datetest
doc/*.1.html
debian/substvars.*
tools/rsbackup.cron
tools/rsbackup-mount
products
doc/internal
