debian/files
debian/debhelper.log
debian/rsbackup
debian/rsbackup-graph
debian/substvars
*.tar.gz
*.deb
*~
Makefile.in
Makefile
/INSTALL
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.log
config.status
/configure
*.[oa]
*.o.tmp
.coverity
.deps
.gdb_history
stamp-h1
src/progs/rsbackup
src/progs/rsbackup-graph
src/utests/test-action
src/utests/test-base64
src/utests/test-check
src/utests/test-color
src/utests/test-command
src/utests/test-confbase
src/utests/test-database
src/utests/test-date
src/utests/test-device
src/utests/test-directory
src/utests/test-eventloop
src/utests/test-globfiles
src/utests/test-host
src/utests/test-indent
src/utests/test-io
src/utests/test-lock
src/utests/test-parseinteger
src/utests/test-progress
src/utests/test-prunedecay
src/utests/test-regexp
src/utests/test-select
src/utests/test-split
src/utests/test-subprocess
src/utests/test-timespec
src/utests/test-tolines
src/utests/test-unicode
src/utests/test-volume
src/check-source
tests/w-*
doc/*.1.html
doc/*.5.html
doc/rsbackup-manual.html
debian/substvars.*
tools/rsbackup.cron
tools/rsbackup-mount
tools/rsbackup-snapshot-hook
tools/rsbackup.daily
tools/rsbackup.hourly
tools/rsbackup.monthly
tools/rsbackup.weekly
products
doc/internal
*.gcno
*.gcda
*.gcov
GPATH
GRTAGS
GSYMS
GTAGS
*.trs
*.log
*.tgz
/.vscode
