dist: trusty
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-6
    - g++-6
    - lynx
    - sqlite3
    - libsqlite3-dev
    - libboost-system-dev
    - libboost-filesystem-dev
    - libboost-dev
    - pkg-config
    - libpangomm-1.4-dev
    - libcairomm-1.0-dev
    - python-xattr
    - acl
language: cpp
compiler:
- gcc
# TODO use some recent version of Clang too

# glibmm currently uses deprecated std::auto_ptr<>, hence flags.
script:
- ./autogen.sh
- ./configure CC=gcc-6 CXX=g++-6 CXXFLAGS="-Wno-error=deprecated-declarations"
- make
- VERBOSE=true make check
