body {
  color: black;
  background-color: white
}

a:link, a:visited, a:active {
  color: blue;
  text-decoration: underline
}

h1 {
  background-color: #e0ffe0;
  font-size: 200%;
  padding: 4px
}

h2 {
  background-color: #e0e0e0;
  font-size: 150%;
  padding: 4px
}

h3 {
  background-color: #f0f0f0;
  font-size: 130%;
  padding: 2px
}

h4 {
  background-color: #f8f8f8;
  font-size: 120%;
  padding: 2px
}

h5 {
  font-size: 110%
}

h1,h2,h3,h4 {
  font-family: sans-serif
}

h2 + div {
  margin-left: 1em
}

h3 + div {
  margin-left: 1em
}

a.h2 {
  font-size: 110%;
  color: black
}

a.h3 {
  margin-left: 1em;
  color: black
}

pre.example {
  border-left: 1px solid black;
  padding-left: 1em
}

p.note {
  font-style: italic
}
