/* Copyright © 2011 Richard Kettlewell.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
  color: black;
  background-color: white
}

a:link, a:visited, a:active {
  color: blue;
  text-decoration: underline
}

h1 {
  background-color: #e0ffe0;
  padding: 0.2em
}

h2 {
  background-color: #e0e0e0;
  padding: 0.2em
}

h3 {
  text-decoration: underline
}

a.h3 {
  margin-left: 1em
}

h1,h2,h3,h4 {
  font-family: sans-serif
}

table {
  border-collapse: collapse
}

th {
  background-color: #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0
}

td {
  border: 1px solid black;
  vertical-align: top;
  padding-left: 4px;
  padding-right: 4px
}

td.bad {
  background-color: #ff4040;
  color: #ffffff
}

td.good {
  background-color: #e0ffe0;
  color: #000000
}

span.bad {
  color: #ff4040
}

pre.log {
  background-color: #f0f0f0
}

div.volume {
  margin-left: 1em
}

.recent {
  color: #ff4040
}
