#! /usr/bin/make -f

INSTALL=install
PACKAGE=rsbackup
VERSION=0.0
PATHS=prefix=/usr mandir=/usr/share/man datarootdir=/usr/share

build:
	$(MAKE) $(PATHS)

clean-${PACKAGE}:
	rm -rf debian/${PACKAGE}

binary-${PACKAGE}: clean-${PACKAGE}
	mkdir -p debian/${PACKAGE}/DEBIAN
	mkdir -p debian/${PACKAGE}/etc/rsbackup/hosts.d
	mkdir -p debian/${PACKAGE}/etc/cron.hourly
	mkdir -p debian/${PACKAGE}/etc/cron.daily
	mkdir -p debian/${PACKAGE}/etc/cron.weekly
	mkdir -p debian/${PACKAGE}/etc/cron.monthly
	mkdir -p debian/${PACKAGE}/usr/share/doc/${PACKAGE}
	cp debian/${PACKAGE}.conffiles debian/${PACKAGE}/DEBIAN/conffiles
	cp debian/${PACKAGE}.postinst debian/${PACKAGE}/DEBIAN/postinst
	cp rsbackup.hourly debian/${PACKAGE}/etc/cron.hourly/rsbackup
	cp rsbackup.daily debian/${PACKAGE}/etc/cron.daily/rsbackup
	cp rsbackup.weekly debian/${PACKAGE}/etc/cron.weekly/rsbackup
	cp rsbackup.monthly debian/${PACKAGE}/etc/cron.monthly/rsbackup
	cp rsbackup.config debian/${PACKAGE}/etc/rsbackup/config
	cp rsbackup.defaults debian/${PACKAGE}/etc/rsbackup/defaults
	cp rsbackup.devices debian/${PACKAGE}/etc/rsbackup/devices
	cp debian/changelog debian/${PACKAGE}/usr/share/doc/${PACKAGE}/.
	cp README debian/${PACKAGE}/usr/share/doc/${PACKAGE}/.
	gzip -9v debian/${PACKAGE}/usr/share/doc/${PACKAGE}/*
	cp debian/copyright debian/${PACKAGE}/usr/share/doc/${PACKAGE}/.
	$(MAKE) $(PATHS) DESTDIR=debian/${PACKAGE} install install-doc
	gzip -9v debian/${PACKAGE}/usr/share/man/man*/*
	dh_perl -Pdebian/${PACKAGE} --package=${PACKAGE}
	cd debian/${PACKAGE} && \
	  find -name DEBIAN -prune -o -type f -print \
	    | sed 's/^\.\///' \
			| xargs md5sum > DEBIAN/md5sums
	dpkg-gencontrol -isp -p${PACKAGE} -Pdebian/${PACKAGE} \
		-Tdebian/substvars
	chown -R root:root debian/${PACKAGE}
	chmod -R g-ws debian/${PACKAGE}
	dpkg --build debian/${PACKAGE} ..

binary: binary-arch binary-indep
binary-arch:
binary-indep: binary-${PACKAGE}

clean: clean-${PACKAGE}
	rm -f debian/files
	rm -f debian/debhelper.log

distcheck:
	$(MAKE) dist
	gzip -cd rsbackup-${VERSION}.tar.gz | tar xf -
	debian/rules -C rsbackup-${VERSION} build
	fakeroot debian/rules -C rsbackup-${VERSION} binary
	rm -rf rsbackup-${VERSION}
	ls -l rsbackup_${VERSION}_all.deb rsbackup-${VERSION}.tar.gz
